<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventory Tracking API</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Welcome to the Inventory Tracking API</h1>
    <p>See the API documentation <a href="https://documenter.getpostman.com/view/20398736/UyxnD4hi">here</a></p>
	<script src="index.js"></script>
  </body>
</html>
