<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventory Tracking API</title>
  </head>
  <body>
    <h1>Welcome to the Inventory Tracking API</h1>
    <p>See the frontend for the app <a href="https://inventory-tracking-app.jimezesinachi.repl.co"  target="_blank">here</a></p>
    <br/>
    <br/>
    <p>See the API documentation (with example data) <a href="https://documenter.getpostman.com/view/20398736/UyxnD4hi"  target="_blank">here</a></p>
  </body>
</html>
