* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px auto;
    max-width: 800px;
}

.remove {
    display: none;
}

.main-container {
    width: 360px;
    min-height: 375px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 1rem;
}

#edit-section {

    display: none;
    position: fixed;
    top: 5rem;
    right: 65%;
    left: 35%;
    background: #eae4e4;
    
}

#edit-section-active {
    display: block;
}

.EditItemActive{
    background-color: black;
    opacity: 0.8;
}

.second-container, .edit-section{
    width: 360px;
    min-height: 375px;
    border: 1px solid red;
    border-radius: 10px;
    padding: 1rem;
}

.table {
    border: 1px solid red;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 40px;
}

.form-header {
    text-align: center;
    padding-top: 20px;
}

.item {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

input {
    height: 2rem;
    border-radius: 8px;
    padding-left: 7px;
}

.select {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    margin-bottom: 40px;
    background-color: aqua;
    border-radius: 5px;
    padding: 10px;
}

select {
    height: 2rem;
    border-radius: 8px;
}

.table {
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 2px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
